<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
</head>
<body>
<div style="text-align:center;width:250px;height:300px;">
	<form method="POST" action="/">
		
		<label> URL </label><input name="url" type="text" value="" />
		</br>
		<label> TTL </label><input 
					name="ttl"
					type="number"
					value="0"
					onkeypress="return onlyNumberKey(event)"/>
		<select name="unit-time" style="border:0px;background-color:white;font-weight:900;">
			<option value="Second">Seconds</option>
			<option value="Minute">Minutes</option>
			<option value="Hour">Hours</option>
		</select>

		<input type="submit" value="Shorten" />
	</form>
	</br>

	<strong> [*] TTL = 0 means URL will be stored persistently.</strong>


	<script>
		function onlyNumberKey(event){
			var ASCIICode = (event.which)
			if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
			    return false;
			return true;
		}
	</script>
</div>
</body>
</html>
